/* Layout */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 100%;
	width: 100%;
	background-color: #cfe0e8;
	min-height: 50rem;
}

.header {
	display: flex;
	padding: 1rem;
	background-color: #b7d7e8;
}

.content {
	display: flex;
	background-color: #daebe8;
}

.sidebar {
	flex: 0 0 10%;
	flex-direction: column;
	display: flex;
	background-color: #87bdd8;
	padding: 0.5rem;
	width: 10rem;
}

.edit_mode {
	display: none;
}

.visibility_info {
	text-align: center;
	margin-bottom: 0.5rem;
	background-color: #b7d7e8;
	padding: 0.1rem;
}

.inputFields {
	margin-bottom: 0.5rem;
	background-color: #b7d7e8;
	padding: 0.3rem;
}

.city-view {
	flex: 1;
}

.c {
	width: 100%;
	height: 100%;
}

/* Text fields */
.visibility_score {
}

@media (max-width: 1090px) {
	.header {
		color: red;
		display: none;
	}

	.sidebar {
		padding: 0rem;
		width: 5rem;
	}

	.btn {
		height: 3rem;
	}
}
